volumes:
  pg_data:
  static:
  media:

services:
  backend:
    image: cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-backend:latest+
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - static:/app/backend_static
      - media:/app/media
  
  frontend:
    image: cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-frontend:latest+
    env_file: .env
    command: cp -r /app/build/. /static/
    volumes:
      - static:/static
  
  gateway:
    image: cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-gateway:latest+
    env_file: .env
    ports:
      - 9000:80
    volumes:
      - static:/static
      - media:/media/
    depends_on:
      - backend
