name: CI/CD Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  tests:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: kittygram
          POSTGRES_USER: kittygram_user
          POSTGRES_PASSWORD: kittygram_password
        ports:
          - 5432:5432
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      
      - name: Test backend
        run: |
          cd backend
          pip install -r requirements.txt
          pip install ruff
          python -m ruff check .

  build_and_push:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest
    needs: tests
    
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Docker Login with Service Account Key
        run: |
          # Создаем файл с ключом из секрета
          echo '${{ secrets.YC_SA_KEY }}' > /tmp/sa-key.json
          
          # Авторизуемся через JSON ключ
          cat /tmp/sa-key.json | docker login \
            --username json_key \
            --password-stdin \
            cr.yandex
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Build and push backend
        uses: docker/build-push-action@v4
        with:
          context: ./backend/
          push: true
          tags: |
            cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-backend:${{ github.sha }}
            cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-backend:latest
      
      - name: Build and push frontend
        uses: docker/build-push-action@v4
        with:
          context: ./frontend/
          push: true
          tags: |
            cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-frontend:${{ github.sha }}
            cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-frontend:latest
      
      - name: Build and push gateway
        uses: docker/build-push-action@v4
        with:
          context: ./nginx/
          push: true
          tags: |
            cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-gateway:${{ github.sha }}
            cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-gateway:latest

      - name: Build and push Database
        uses: docker/build-push-action@v4
        with:
          context: ./postgre/
          push: true
          tags: |
            cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-database:${{ github.sha }}
            cr.yandex/crp6qrsugbr2qs16ckd1/kittygram-database:latest